<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!-- Based on http://nedbatchelder.com/code/coverage -->
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <title>Analysis for {{pyfile|escape}}</title>
    <link rel='stylesheet' href='style.css' type='text/css'>
    <script type='text/javascript' src='jquery-1.3.2.min.js'></script>
    <script type='text/javascript' src='highlight.js'></script>
</head>
<body>

<div id='header'>
    <div class='content'>
        <h1>Analysis for <b>{{pyfile|escape}}</b> </h1>
    </div>
</div>

<div id='source'>
	<script language="JavaScript"> 
    document.write('<p>Python ' + pyObj.pyVersion + '</p>') 
    </script> 
    <table cellspacing='0' cellpadding='0'>
        <tr>
			<td class='image' valign='top' rowspan='2'>
				<img src='{{imagefile}}'>
			</td>
            <td class='linecs' valign='top'>
                {% for line in lines %}
                    <p id='c{{line.number}}' class='{{line.class}}'>{{line.count}}</p>
                {% endfor %}
            </td>
            <td class='linenos' valign='top'>
                {% for line in lines %}
                    <p id='n{{line.number}}' class='{{line.class}}' 
                       onclick="{{colorOnSelect}}">{{line.number}}</p>
                {% endfor %}
            </td>
            <td class='text' valign='top'>
                {% for line in lines %}
                    <p id='t{{line.number}}' class='{{line.class}}'>{% if line.annotate %}
                       <span class='annotate' title='{{line.annotate_title}}'>{{line.annotate}}</span>
                       {% endif %}{{line.html}}<span class='strut'>&nbsp;</span></p>
                {% endfor %}
            </td>
        </tr>
    </table>
</div>

<div>
	<input id="prevbt" type="button" class='-1' onclick="highlightFlow(this.id,this.className,{{algflow}})" 
	   value='Prev' disabled='true'>
	<input id="nextbt" type="button" class='-1' onclick="highlightFlow(this.id,this.className,{{algflow}})" 
	   value='Next'>
</div>

</body>
</html>
